body{
    background:#243b74;
    font-family:Arial;
    color:white;
    text-align:center;
}

.container{
    width:90%;
    max-width:400px;
    margin:auto;
    padding:20px;
}

.profile{
    width:150px;
    height:150px;
    border-radius:50%;
    border:5px solid #00ffff;
    margin:20px 0;
}

h1{
    font-size:45px;
    margin:10px 0;
}

.welcome{
    font-size:22px;
    line-height:1.8;
    margin-bottom:30px;
}

.btn{
    display:block;
    padding:20px;
    margin:15px 0;
    border-radius:20px;
    text-decoration:none;
    font-size:24px;
    font-weight:bold;
    color:white;
}

.instagram{background:linear-gradient(45deg,#ff9900,#ff00aa);}
.tiktok{background:#000;}
.telegram{background:#0099dd;}
.snapchat{background:#ffee00;color:black;}
.github{background:#333;}

footer{
    margin-top:40px;
    opacity:.7;
}
